a {
  text-decoration: none;
}
/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
} */

.aside-header {
  -webkit-text-stroke: 0.5px;
  font-size: 1.5rem;
}

small.text-muted.smallUfid {
  font-size: 0.4rem;
}

.nav-link {
  color: #495057 !important;
  padding: 6px 30px 6px 12px;
}

.nav-link.active {
  color: #0a58ca !important;
  font-weight: 500;
}

.remove-button {
  right: -1%;
  top: 53%;
}

.splashScreen {
  margin: 7vh auto;
}

.splashScreen .welcomeDesc li {
  font-size: 13px;
  list-style-type: disc;
}

.file-body {
  height: calc(100vh - 30px);
}

.file-body .file-content .editor-nav .editor-nav-buttons {
  flex: 1;
  gap: 0.5rem;
}

.companyName a {
  color: #7d7d7d;
  font-size: 9rem;
  opacity: 0.5;
}

.companyName a span {
  color: #334a82;
}

.resizer {
  position: absolute;
  z-index: 100;
  background-color: #dee2e6;
}

.verticalResizer {
  cursor: ns-resize;
}

.horizontalResizer {
  cursor: ew-resize;
}

#icon {
  width: 60%;
}

#create {
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px;
}

#removeSelection {
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px;
  color: rgb(163, 4, 4);
}

.img {
  width: 16px;
  margin-right: 5px;
}

.dx-treelist-rowsview.dx-treelist-nowrap.dx-last-row-border.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated {
  max-height: 77vh;
}

.dx-state-disabled .dx-widget,
.dx-state-disabled.dx-widget,
.dx-state-disabled .dx-button .dx-button-text,
.dx-state-disabled.dx-button .dx-button-text {
  opacity: 1;
}

.badge {
  font-size: 1.25em;
}

/* .aside-nav .nav-tabs {
  border-bottom: none !important;
} */
.aside-nav .nav-link.active {
  border-color: #dee2e600 #dee2e6 #dee2e6 #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.aside-nav .nav-justified .nav-item,
.nav-justified > .nav-link {
  border-color: #e9ecef #e9ecef #dee2e6 !important;
  border-bottom: none;
}

.modal-content {
  margin: 0 auto;
}

#type {
  margin-left: 15px;
}

#root .header {
  border-bottom: 4px solid #dee2e6;
}
