a {
  text-decoration: none;
}
/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
} */

.aside-header {
  -webkit-text-stroke: 0.5px;
  font-size: 1.5rem;
}

small.text-muted.smallUfid {
  font-size: 0.4rem;
}

.splashScreen {
  margin: 7vh auto;
}

.splashScreen .welcomeDesc li {
  font-size: 13px;
  list-style-type: disc;
}

.file-body {
  height: calc(100vh - 30px);
}
.file-aside{
  border-left:1px solid #ddd;
}
.bg-dark .file-aside{
  border-left:1px solid #4d4d4d;
}


.file-body .file-content .editor-nav .editor-nav-buttons {
  flex: 1;
  gap: 0.5rem;
  width:70%;
}
/* .resizable-right{
  width:30%;
} */

.companyName a {
  color: #7d7d7d;
  font-size: 9rem;
  opacity: 0.5;
}

.companyName a span {
  color: #334a82;
}

#icon {
  width: 60%;
}

#create {
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px;
}

#removeSelection {
  font-size: 1.3rem;
  -webkit-text-stroke: 0.5px;
  color: rgb(163, 4, 4);
}

.img {
  width: 16px;
  margin-right: 5px;
}

.dx-treelist-rowsview.dx-treelist-nowrap.dx-last-row-border.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-simulated {
  max-height: 77vh;
}

.dx-state-disabled .dx-widget,
.dx-state-disabled.dx-widget,
.dx-state-disabled .dx-button .dx-button-text,
.dx-state-disabled.dx-button .dx-button-text {
  opacity: 1;
}

.badge {
  font-size: 1.25em;
}

/* .aside-nav .nav-tabs {
  border-bottom: none !important;
} */

.modal-content {
  margin: 0 auto;
}

#type {
  margin-left: 15px;
}

/* #root .header {
  border-bottom: 4px solid #dee2e6;
} */

#spinner-container {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 1s ease-in-out;
}
#spinner-container .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #5aade0 transparent #5aade0 transparent;
  border-radius: 50%;
  animation: spin-anim 0.8s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;
}
body.bg-dark {
  color: #dedede !important;
}

.remove-button {
  right: -1%;
  top: 53%;
  background-color: transparent !important;
  color: rgba(202, 202, 202, 1) !important;
}

.nav-link {
  color: rgba(73, 80, 87, 0.5) !important;
  padding: 6px 30px 6px 12px;
  /* font-weight: 500; */
}

.nav-link.active {
  color: rgba(10, 88, 202, 1) !important;
  font-weight: 500;
}

.aside-nav .nav-link.active {
  border-color: #dee2e600 #dee2e6 #dee2e6 #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.aside-nav .nav-justified .nav-item,
.nav-justified > .nav-link {
  border-color: #e9ecef #e9ecef #dee2e6 !important;
  /* border-bottom: none; */
}

.nav-item .nav-link {
  border: solid 1px #dee2e6;
  border-bottom: none;
}

body.bg-dark .modal-header,
body.bg-dark .modal-body {
  background-color: #1e1e1e !important;
  color: #dedede !important;
  border: none;
}

body.bg-dark .modal-footer {
  background-color: #1e1e1e !important;
  border-color: #4d4d4d;
}

.dx-toolbar,
.dx-treelist-container {
  background-color: transparent;
}
body.bg-dark .nav-link {
  background-color: #1e1e1e !important;
  color: #dedede !important;
  border: solid 1px #565353;
  border-bottom: none;
}

body.bg-dark .remove-button {
  background-color: #1e1e1e !important;
  color: rgba(202, 202, 202, 0.5) !important;
  border: none;
}

body.bg-dark .nav-link {
  /* font-weight: 500; */
  color: rgba(202, 202, 202, 0.5) !important;
}
body.bg-dark .nav-link:hover {
  border-color: #878585 !important;
}

body.bg-dark .nav-link.active {
  border-color: #878585 !important;
  color: rgba(202, 202, 202, 1) !important;
  font-weight: 500;
}
body.bg-dark .dx-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(100%) contrast(100%);
}

body.bg-dark #file-menu #aside-body .aside-nav .nav-link {
  /* font-weight: 500; */
  /* border-color: red !important; */
  border-color: #878585 !important;
}

body.bg-dark #file-menu #aside-body .aside-nav .nav-link.active {
  /* font-weight: 500; */
  /* border-color: red !important; */
  border-top: none !important;
}
.header {
  border-bottom: 1px solid #ddd;
}
body.bg-dark .header {
  border-bottom: 1px solid #4d4d4d;
}
 
.dx-treelist-header-panel{
  margin-right:10px;
}
 
 

body {
  font-size: 14px;
}

.nav-link {
  padding: 3px 24px 5px 8px;
  font-weight: normal;
  cursor: default !important;
  color: inherit;
  border-width: 2px;
  border-bottom-width: 0 !important;
}

.nav-tabs .nav-link.active {
  box-shadow: 0px 1.5px 5px #686868;
  font-weight: normal;
  border: 2px solid #8eb4ff;
}

.remove-button {
  right: -1%;
  top: 51%;
}

.remove-button:hover {
  color: #455a64 !important;
}

editor-nav-button + editor-nav-button .nav-item .nav-link {
  border-left: 0;
}

.file-editor-nav-buttons {
  padding: 6px 8px 0px 8px;
}

.dx-button-has-icon .dx-button-content,
.dx-button-back .dx-button-content {
  padding: 4px;
}
.dx-texteditor-input {
  padding: 4px 9px 5px;
  min-height: 28px;
}
.dx-placeholder::before {
  padding: inherit;
}

#headerToolbar {
  opacity: 0.8;
}

.dx-treelist-search-panel {
  margin-left: 0;
}
 